{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
   {% if page.handle == 'support-page-1' %}
    {% if customer.tags contains 'wani' or
          customer.tags contains 'active_subscriber_Yamato Club Annual Membership - Wani (Limited Spots)' or
          customer.tags contains 'active_subscriber_Yamato Club Monthly Membership - Wani (Limited Spots)' or
          customer.tags contains 'active_subscriber_Yamato Club Monthly Membership - Wani (Closed)' or
          customer.tags contains 'active_subscriber_Yamato Club Monthly Membership - Wani' or
          customer.tags contains 'active_subscriber_Yamato Club Membership (Monthly) - Wani' %}
        <!-- If the customer has any of the specified tags, content will be hidden -->
   {% if page.content contains '<p class="important-line">' %}
    {% assign split_content = page.content | split: '<p class="important-line">' %}
    {% for part in split_content %}
        {% if part contains '</p>' %}
            {% assign extracted_part = part | split: '</p>' | first %}
            {{ extracted_part }}
        {% endif %}
    {% endfor %}
{% else %}
    {{ page.content }}
{% endif %}
    {% else %}
        <!-- Content will show only if the customer does not have any of the specified tags -->
        {% if page.content %}
            {{ page.content }}
        {% else %}
            {{ page.content }}
        {% endif %}
    {% endif %}
    {% else %}
    {{ page.content }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
